Package: com.greenglasst.ytenhanced
Name: YTEnhanced
Version: 0.0.1
Architecture: iphoneos-arm
Description: My favorite YouTube Tweaks!
Maintainer: GreenglassT
Author: GreenglassT
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
